.hero {
  padding-top: 535px;
  margin: auto;

  background-image: url("../../../public/hero-s.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media screen and (min-width: 480px) {
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    padding-top: 464px;

    background-size: contain;
    background-image: url("../../../public/hero-m.webp");
  }

  @media screen and (min-width: 1280px) {
    padding-top: 594px;
    background-position: center -23px;
    background-image: url("../../../public/hero-l.webp");
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 0 25px;
  margin-bottom: 32px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 0 70px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0px 261px;
  }
}
